<h3></h3>
<%= form_for [ @article, @comment ] do |f| %>
    <p class="time_boxes">
        <%= f.label :start, "End Time:" %>
        <%= f.time_select :end, :value => @comment.end, :default => Time.current %>
    </p>
        
        
    <p>
        <%= f.label :author_name, "Note" %><br/>
        <%= f.text_field :author_name%>
    </p>
    <p>
        <%= f.submit 'End', :class => "btn btn-lg btn-primary"%>
        
    </p>
<% end %>
<% @article.comments.last.update_attribute(:end, Time.current) %>

this needs to be updated to just update attribute of the current comment.  now i think it is trying to create a new one


