<h3></h3>
<%= form_for [ @article, @comment ] do |f| %>
    <p class="time_boxes">
        <%= f.label :start, "Start Time:" %>
        <%= f.time_select :start, :value => @comment.start, :default => Time.current%>
    </p>   
        
    <p class="time_boxes">
        <%= f.label :start, "End Time:" %>
        <%= f.time_select :end, :value => @comment.end, :default => Time.current + 1.hour %>
    </p>
        
        
    <p>
        <%= f.label :author_name, "Note" %><br/>
        <%= f.text_field :author_name %>
    </p>
    <p>
        <%= f.submit 'Submit', :class => "btn btn-lg btn-primary"%>
        
    </p>
<% end %>




