<div>
    <h4>Notes: <%= comment.author_name %></h4>
    <p class="comment">Start: <%= comment.start %></p>
    <p class="comment">End: <%= comment.end %></p>
    <p class="comment">Time Spent: <%= comment.total %> Hours</p>
    <p class="comment"><%= link_to "delete", comment_path(comment.id), method: :delete, data: {confirm: "Really delete the comment?"}%></p>
    
</div>

